@charset "UTF-8";

body {background-color: lightgray; margin: 0;}
h1 {text-align: center;} hr {height: 2px;}

section {display: flex; flex-wrap: wrap; justify-content: center; margin: auto; } 
#Section1 {width: 700px;} #Section2 {width: 950px;} #Section3 {width: 500px}

form {background-color: white; padding: 10px; margin: 10px; box-shadow: 2px 4px 3px gray;}
#form1 {width: 350px;} #form2 {width: 250px;} 
legend {font-weight: bolder; font-size: large;}

footer {background-color: black; color: white; text-align: center; 
        padding: 20px 0 40px 0; margin-top: 20px;}
footer div {display: flex; justify-content: center;}
#paragrafo1, #paragrafo2 {height: 30px;}
#paragrafo3 {display: none;}
#paragrafo4 {display: none;}

a {color: yellow; text-decoration: none;}
a:hover {text-decoration: underline;}

@media (max-width: 950px) {
    #Section2 {width: 600px;}  
}
@media (max-width: 720px) {
    #Section1 {width: 600px;}
    #paragrafo2 {display: none;}
    #paragrafo3 {display: block;}
    #paragrafo3 div {display: flex; justify-content: center; height: 30px;}
}
@media (max-width: 600px) {
    #Section1, #Section2, #Section3 {width: 480px;}  
}
@media (max-width: 500px) {
    section {flex-direction: column; align-items: center;} 
    #form1 {background-color: aqua;} 
    #paragrafo1 {display: block; text-align: center;}
    #paragrafo1 .espaço {display: none;}
    #paragrafo3 {display: none;}
    #paragrafo4 {display: block; margin: 20px;}
    #paragrafo4 div {display: flex; justify-content: center; height: 30px;}
}
@media (max-width: 400px) {
    #form1 {width: 250px;}
}
